body {
    background-color: #FAFAFA;
    font-family: "Red Hat Display";
    overflow-x: hidden;
    overflow-y: scroll;
}




.logo {
    display: flex;
    width: 118.72px;
    height: 28px;
    display: block;
    margin-top: 30px;
    margin-left: 580px;
    
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: -50px;

    
}

.image-hero-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -5px;
    margin-top: 40px;
    width: 394px;
    height: 303;
}

.image-hero-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    width: 197px;
    height: 151.5;
    margin-top: 40px;
    margin-left: 220px;
    margin-right: -100px;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "Red Hat Display";
    margin-left: 30px;
}

.message1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Red Hat Display";
    text-align: center;
    color: #28283D;
    
    height: 150px;
    margin-top: 80px;
    width: 540px;
    height: 200px;

}

.mini-message {
    display: flex;
    font-family: "Red Hat Display";
    font-size: 16px;
    text-align: center;
    color: #87879D;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.first-button-container {
    display: flex;
    flex-direction: row;
}

.button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0px;
    width: 140px;
    height: 45px;
    top: 462px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4D96A9;
    margin-top: 40px;
    font-family: "Red Hat Display";
   

}

.button1:hover {
    background-color: #71C0D4;
}

.button2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0px;
    width: 115px;
    height: 45px;
    font-weight: bold;
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #855FB1;
    margin-top: 40px;
    font-family: "Red Hat Display";
}

.button2:hover {
    background-color: #D9B8FF;
}

#version {
    color: #8FE3F9;
}

.image-slide-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 180px;
}

#slide1 {
    display: flex;
    flex-direction: row;
    margin-left: 270px;
    width: 170px;
    height: 166.3px;
}
 
#slide2 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 170px;
    height: 166.3px;

}

#slide3 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 170px;
    height: 166.3px;
}

#slide4 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 170px;
    height: 166.3px;
}

.message-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 60px;

}

.message2 {
    color: #4D96A9;
    margin-top: 80px;
    text-align: center;
    font-family: "Red Hat Display";
    font-weight: bold;
    font-size: 18px;
    height: 0px;
}

.message3 {
    font-size: 40px;
    font-family: "Red Hat Display";
    font-weight: bold;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 60px;

}

.message4 {
    display: flex;
    font-family: "Red Hat Display";
    font-size: small;
    font-size: 16px;
    text-align: center;
    color: #87879D;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
}

.footer-image {
    display: flex;
    justify-content: center;
    align-content: center;
    background: url(assets/desktop/image-footer.jpg)0 0 no-repeat;
    margin-left: -10px;
    margin-top: 40px;
    height: 308px;
    
    
}
    


.footer-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: #4D96A9;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 1440px;
    
}


.message5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -100px;
    margin-right: 100PX;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
    mix-blend-mode: unset;

}

.message6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
    margin-right: 200px;
    margin-left: 50px;
}

.button3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    border-radius: 30px;
    border: 0px;
    width: 105px;
    height: 40px;
    font-family: "Red Hat Display";
    font-weight: bold;
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #855FB1;
    margin-top: 150px;
   
}

.button3:hover {
    background-color: #D9B8FF;
}
